<footer class="main-footer">
    <div class="main-container">
        <div class="main-footer__upper">
            <div class="main-footer__row main-footer__row-1">
                <h2 class="heading heading-sm main-footer__heading-sm">
                    <span>Social</span>
                </h2>
                <div class="main-footer__social-cont">
                    <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/your-linkedin">
                        <img class="main-footer__icon" src="/assets/png/linkedin-ico.png" alt="Jeeva D LinkedIn Profile">
                    </a>
                    <a target="_blank" rel="noreferrer" href="https://github.com/your-github">
                        <img class="main-footer__icon" src="/assets/png/github-ico.png" alt="Jeeva D GitHub Profile">
                    </a>
                </div>
            </div>
            <div class="main-footer__row main-footer__row-2">
                <h2 class="heading heading-sm text-lt">Jeeva D</h2>
                <p class="main-footer__short-desc">
                    A Data Engineer and Python Developer building efficient data pipelines and web applications that lead to the success of the overall product
                </p>
            </div>
        </div>

        <div class="main-footer__lower">
            &copy; Copyright 2023. Made by
            <a rel="noreferrer" target="_blank" href="https://github.com/your-github">Jeeva D</a>
        </div>
    </div>
</footer>